@import 'nib'

.site-header
	background-color: #c4ad83
	padding: 1px
	text-align: center
	color: #ede0c7
	h1
		font-size: 36px
		margin: 0
		text-shadow: 0 1px 1px rgba(25, 25, 25, 0.3)
	p
		margin: 0
		font-size: 12px
		&:first-of-type
			font-size: 18px