@import 'nib'

.home.page
	padding-top: 150px
	text-align: center
	p
		margin: 0
		font-size: 24px
		&:first-of-type
			font-size: 32px
			color: #9e8862
			text-shadow: 0 1px 0 rgba(255,255,255,0.8)
	a
		text-decoration: none
		color: #2c8fe0
		text-shadow: 0 1px 0 darken(#2c8fe0, 10)